<div
  class="
    flex
    flex-col
    w-full
  "
>

  <% if header_content? %>
    <%= header_content %>
  <% end %>

  <div
    class="
      flex
      flex-col-reverse
      md:flex-row
      h-full
      w-full
      p-4
      gap-4
    "
  >
    <%= main_content %>
  </div>
</div>
